.container1{
    position: relative;
    margin: 1rem 2rem;
    height: 35rem;

    background-image: url(/images/carroussel/carroussel1.webp);
    background-size: cover;
    background-position: 50% 90%;
}

.container1 p{
    color: white;
    font-size: 4rem;
    font-weight: 500;
    width: 4rem;
    padding: 3rem 4rem; 
}

.container2{
    position: relative;
    margin: 1rem 2rem;
    margin-top: 2rem;
    height: 16rem;
}

.container2 .subcontainer1{
    position: absolute;
    padding: 1rem;
    height: 100%;
    width: 40%;
}

.container2 .subcontainer2{
    position: absolute;
    right: 0;
    height: 100%;
    width: 60%;

}

.subcontainer2 img{
    padding-left: 1.2rem;
    float: right;
    width: 30%;
    height: 100%;
    object-fit: cover;
}